.home-box{
    width: 100vw;
    height: 500px;
    position: relative;
    background-color: white;
    top: 800px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.home-text{
    position: absolute;
    top: 10px;
    text-align: justify;
    padding: 100px 100px;
    font-family: roboto;
}

.about-box{
    width: 100vw;
    height: 500px;
    position: relative;
    background-color: white;
    top: 10vh;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.about-text{
    position: absolute;
    font-family: roboto;
    text-align: justify;
    padding: 5% 5%;
}

.board{
    position: relative;
}

.board-box{
    display: block;
    position: relative;
    background-color: white;
    height: auto;
    min-height: 100%;
    width: 600px;
    margin: auto;
    box-sizing: border-box;
}

.board-text{
    position: relative;
    font-family: roboto;
    text-align: center;
    bottom: 30px
}

.board-name{
    position: relative;
    text-align: left;
    color: #59A96A;
    padding: 30px 30px;
}

.board-email{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.post-form{
    top: 30px;
    position: relative;
    width: 300px;
    height: auto;
    margin: auto;
    background-color: white;
    padding: 20px 20px;
    border-radius: 30px;
}

.post-input{
    position: relative;
    padding: 10px 10px;
}