.home-box{
    width: 100vw;
    height: 500px;
    position: relative;
    background-color: white;
    top: 800px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.home-text{
    position: absolute;
    top: 10px;
    text-align: justify;
    padding: 100px 100px;
    font-family: roboto;
}

.about-box{
    width: 100vw;
    height: 500px;
    position: relative;
    background-color: white;
    top: 10vh;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.about-text{
    position: absolute;
    font-family: roboto;
    text-align: justify;
    padding: 5% 5%;
}

.board{
    position: relative;
}

.board-box{
    position: relative;
    background-color: white;
    width:1000px;
    margin: auto;
    box-sizing: border-box;
}

.board-text{
    position: absolute;
    font-family: roboto;
    text-align: center;
}